.pac-container {
  box-shadow: var(--chakra-shadows-md);
  border-radius: var(--chakra-radii-md);
}
/* .pac-icon {
  color: var(--chakra-colors-gray-200);
} */

/* .pac-item-query {
  font-family: "Noto Sans JP";
} */
